
# See https://help.github.com/ignore-files/ for more about ignoring files.
*.key
# dependencies
/node_modules

# testing
/coverage

# production
/build
/contract/build

# misc
.env*
!.env.example

npm-debug.log*

# yarn
.yarn/*
*/.yarn/*
!.yarn/releases
!*/.yarn/releases
!.yarn/plugins
!*/.yarn/plugins
.pnp.*