name: Build images from latest master branch

on:
  push:
    tags:
      - v*

jobs:
  create-prod-image:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.4.0

      - name: Setup Docker
        uses: docker-practice/actions-setup-docker@1.0.8

      - name: Log in to docker registry
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login \
            --username ${{ secrets.DOCKER_USERNAME }} \
            --password-stdin

      - name: Build new images and push
        run: |
          make \
            build-docker-images \
            push-docker-images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          # webapp
          PORT: 80
          REACT_APP_TAG: ${{ github.ref }}
          REACT_APP_NAME: 'myvoteeos'
          REACT_APP_TITLE: 'MyvoteEOS Proxy'
          REACT_APP_LOGO: 'https://raw.githubusercontent.com/eoscostarica/design-assets/master/logos/eosCR/fullColor-vertiall-transparent-white.png'
          REACT_APP_FOOTER_LINKS: '[]'
          REACT_APP_UAL_APP_NAME: 'my-vote-eos-proxy'
          REACT_APP_UAL_API_PROTOCOL: 'https'
          REACT_APP_UAL_API_HOST: 'eos.greymass.com'
          REACT_APP_UAL_API_PORT: '443'
          REACT_APP_UAL_CHAIN_ID: 'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
          REACT_APP_HASURA_URL: 'https://graphql.myvoteeos.com/v1/graphql'
          REACT_APP_BLOCK_EXPLORER_URL: 'https://bloks.io'
          REACT_APP_MYVOTEEOS_ACCOUNT: 'myvoteeosdao'
          REACT_APP_TWITTER_ACCOUNT: '@MyvoteEOS'

      - name: Build kubernetes files
        id: build_kubernetes_files
        run: |
          make \
            build-kubernetes
        env:
          # general
          NAMESPACE: myvoteeos
          INGRESS_HOST: myvoteeos.com
          INGRESS_GRAPHQL_HOST: graphql.myvoteeos.com
          # Postgres
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_DATA: ${{ secrets.POSTGRES_DATA }}
          # hapi
          HAPI_SERVER_PORT: 9090
          HAPI_SERVER_ADDRESS: 0.0.0.0
          HAPI_NETWORK_API: 'https://eos.greymass.com'
          HAPI_NETWORK_CHAIN_ID: 'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
          HAPI_NETWORK_BASE_ACCOUNT: ${{ secrets.HAPI_NETWORK_BASE_ACCOUNT }}
          HAPI_NETWORK_BASE_PASSWORD: ${{ secrets.HAPI_NETWORK_BASE_PASSWORD }}
          HAPI_NETWORK_WALLET_URL: ${{ secrets.HAPI_NETWORK_WALLET_URL }}
          HAPI_HASURA_URL: ${{ secrets.HAPI_HASURA_URL }}
          HAPI_HASURA_ADMIN_SECRET: ${{ secrets.HAPI_HASURA_ADMIN_SECRET }}
          HAPI_HYPERION_API: ${{ secrets.HAPI_HYPERION_API }}
          HAPI_HYPERION_START_AT: '2022-02-02T00:00:00.000+00:00'
          HAPI_TWITTER_BEARER_TOKEN: ${{ secrets.HAPI_TWITTER_BEARER_TOKEN }}
          HAPI_TWITTER_HASHTAG: ${{ secrets.HAPI_TWITTER_HASHTAG }}
          HAPI_TWITTER_ACCOUNT: ${{ secrets.HAPI_TWITTER_ACCOUNT }}
          HAPI_EXCHANGE_COUNT_MENTIONS_INTERVAL: 300
          # hasura
          HASURA_GRAPHQL_ENABLE_CONSOLE: true
          HASURA_GRAPHQL_DATABASE_URL: ${{ secrets.HASURA_GRAPHQL_DATABASE_URL }}
          HASURA_GRAPHQL_ADMIN_SECRET: ${{ secrets.HASURA_GRAPHQL_ADMIN_SECRET }}
          HASURA_GRAPHQL_UNAUTHORIZED_ROLE: ${{ secrets.HASURA_GRAPHQL_UNAUTHORIZED_ROLE }}
          HASURA_GRAPHQL_ACTION_BASE_URL: ${{ secrets.HASURA_GRAPHQL_ACTION_BASE_URL }}

      - name: Deploy kubernetes files
        uses: steebchen/kubectl@v1.1.0
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
          NAMESPACE: myvoteeos
          K8S_BUILD_DIR: build_k8s
        with:
          args: version && make deploy-kubernetes

      - name: Create Release
        id: create_release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
